<!DOCTYPE html>
<html>

<head>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- automatically updated -->
    <script>
        function updateValues() {
            location.reload(true);
        }
        // every 6 seconds
        setInterval(updateValues, 60000);
    </script>

</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>twitterbot2</h1>
        </div>
    </div>

    </div>

    <div class="container" id="content">
        <div class="row">
            <p>Asynchronous page updates will appear here:</p>
            <div id="log"> Real time statistics for {{ user }}.
            </div>
            <div>
                <table>
                    <tr>
                        <th>Last update</th>
                        <th>Tweets</th>
                        <th>Likes</th>
                        <th>Retweets</th>
                        <th>Followers</th>
                    </tr>
                    <tr>
                        <td>{{ update }}</td>
                        <td>{{ tweets }}</td>
                        <td>{{ likes }}</td>
                        <td>{{ retweets }}</td>
                        <td>{{ followers }}</td>
                    </tr>
                </table>
            </div>
            <a href="http://localhost:5000/">Back to home</a>
        </div>
    </div>


</body>

</html>