<!DOCTYPE html>
<html>

<head>

    <title>twitterbot2 | {{ user }}</title>
    <link rel="shortcut icon" href="https://www.python.org/static/community_logos/python-powered-h-140x182.png" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('static', filename='dashboard.js')}}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css')}}">

</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>twitterbot2</h1>
        </div>
    </div>

    </div>

    <div class="container" id="content">
        <div class="row">
            <div id="log">
                <h3>Real time statistics for <a href="https://twitter.com/{{ user }}">{{ user }}</a>.</h3>
            </div>
            <div>
                <table class="styled-table">
                    <tr>
                        <th>Last update</th>
                        <th>Tweets</th>
                        <th>Likes</th>
                        <th>Retweets</th>
                        <th>Followers</th>
                    </tr>
                    <tr>
                        <td>{{ update }}</td>
                        <td>{{ tweets }}</td>
                        <td>{{ likes }}</td>
                        <td>{{ retweets }}</td>
                        <td>{{ followers }}</td>
                    </tr>
                </table>
            </div>
            <a href="/">Back to home</a>
        </div>
    </div>


</body>

</html>