<!DOCTYPE html>
<html>

<head>
    <title>twitterbot2 | home</title>
    <link rel="shortcut icon" href="https://www.python.org/static/community_logos/python-powered-h-140x182.png" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha256-OFRAJNoaD8L3Br5lglV7VyLRf0itmoBzWUoM+Sji4/8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='all.css')}}">
</head>

<body>
    {% include 'navbar.html' %}

    {% if len %}
    <div class="container" id="content">
        <br>
        <div class="row">
            <p>
                Select for which user you want to show real time data
            </p>
            <form method="get" action="/dashboard">
                <select name="user" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <!-- For loop logic of jinja template -->
                    {%for i in range(0, len)%}
                    <option value="{{ users[i][0] }}">{{ users[i][0]}}</option>
                    {%endfor%}
                </select>
                <br>
                <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
            </form>
        </div>
    </div>
    {% endif %}

    {% if not len %}
    <div class="container" id="content">
        <br>
        <div class="row">
            <p>
                There aren't users in the database, start the bot before. Execute <i><b>python twitterbot2.py -t</b></i>
                or
                <i><b>python
                        twitterbot2.py -k &lt;term&gt; </b></i>See also the usage <a
                    href="https://github.com/edoardottt/twitterbot2#usage-">here</a>.
            </p>
        </div>
    </div>
    {% endif %}

    {% include 'footer.html' %}
</body>

</html>