<!DOCTYPE html>
<html>

<head>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>twitterbot2 | home</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>twitterbot2</h1>
        </div>
    </div>

    </div>

    <div class="container" id="content">
        <div class="row">
            <p>
                Select for which user you want to show real time data
            </p>
            <form method="get" action="/dashboard">
                <!-- For loop logic of jinja template -->
                {%for i in range(0, len)%}
                <input type="radio" name="user" id="option1" value="{{ users[i][0] }}"> {{ users[i][0]}} </input><br>
                {%endfor%}
                <button type="submit" value="Submit">Submit</button>
            </form>
        </div>
    </div>


</body>

</html>