<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">

    <div class="container">

        <a class="navbar-brand" href="#">twitterbot2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/api/docs">API</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/edoardottt/twitterbot2">GitHub <i
                            class="fa fa-external-link" aria-hidden="true"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/edoardottt/twitterbot2/wiki">Docs <i
                            class="fa fa-external-link" aria-hidden="true"></i></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/edoardottt/twitterbot2/issues">Found an
                        issue? <i class="fa fa-external-link" aria-hidden="true"></i></a>
                </li>

            </ul>
        </div>
    </div>

</nav>